{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier",
    "flowtype",
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": 0,
    "no-unexpected-multiline": "warn",
    "no-unused-vars": "warn",
    "comma-dangle": 0,
    "default-case": 1,
    "react/jsx-uses-vars": 1,
    "react/display-name": 0,
    "indent": [
      "error",
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "react/jsx-indent": [
      "error",
      "tab"
    ],
    "react/jsx-indent-props": [
      "error",
      "tab"
    ],
    "import/extensions": [
      "error",
      "never",
      {
        "js": "never",
        "jsx": "never"
      }
    ],
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/jsx-one-expression-per-line": [
      0,
      {
        "allow": "none"
      }
    ],
    "no-underscore-dangle": 0,
    "flowtype/no-types-missing-file-annotation": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-wrap-multilines": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "camelcase": 0,
    "no-restricted-properties": 1,
    "no-restricted-globals": 1,
    "consistent-return": 1,
    "global-require": 0,
    "linebreak-style": 0,
    "no-param-reassign": 0,
    "no-lone-blocks": 1,
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true
      }
    ]
  }
}
