init.author.name = Svetlana Panchenko
init.author.email = spanchenko@neoflex.ru
init.author.url = spanchenko@neoflex.ru
# an email is required to publish npm packages
email=spanchenko@neoflex.ru
always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=
registry = http://pluto:9081/repository/npm-all/
